<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Betagaming_Server2</display-name>
  <welcome-file-list>
    <welcome-file>SvlMainServlet</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/9000.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>SvlCrearUsuario</display-name>
    <servlet-name>SvlCrearUsuario</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlCrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlCrearUsuario</servlet-name>
    <url-pattern>/SvlCrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Reset Password Code</description>
    <display-name>SvlResetPassword</display-name>
    <servlet-name>SvlResetPassword</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlResetPassword</servlet-name>
    <url-pattern>/SvlResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvlChangePassword</display-name>
    <servlet-name>SvlChangePassword</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlChangePassword</servlet-name>
    <url-pattern>/SvlChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Este servlet analiza la sesión del usuario y le redirecciona a la pagina correspondiente.</description>
    <display-name>SvlMainServlet</display-name>
    <servlet-name>SvlMainServlet</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlMainServlet</servlet-name>
    <url-pattern>/SvlMainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Este servlet comprueba el login.</description>
    <display-name>LoginSvl</display-name>
    <servlet-name>LoginSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.LoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSvl</servlet-name>
    <url-pattern>/LoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvlCrearPartida</display-name>
    <servlet-name>SvlCrearPartida</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlCrearPartida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlCrearPartida</servlet-name>
    <url-pattern>/SvlCrearPartida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscadorSvl</display-name>
    <servlet-name>BuscadorSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.BuscadorSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscadorSvl</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvlAddGame</display-name>
    <servlet-name>SvlAddGame</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlAddGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlAddGame</servlet-name>
    <url-pattern>/SvlAddGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlayMatch</display-name>
    <servlet-name>PlayMatch</servlet-name>
    <servlet-class>org.coderdojo.servlets.PlayMatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayMatch</servlet-name>
    <url-pattern>/PlayMatch</url-pattern>
    <url-pattern>/play</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvlPrePlayMatch</display-name>
    <servlet-name>SvlPrePlayMatch</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlPrePlayMatch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlPrePlayMatch</servlet-name>
    <url-pattern>/SvlPrePlayMatch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvlAddFriend</display-name>
    <servlet-name>SvlAddFriend</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlAddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlAddFriend</servlet-name>
    <url-pattern>/SvlAddFriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvlGetFriendList</display-name>
    <servlet-name>SvlGetFriendList</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlGetFriendList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlGetFriendList</servlet-name>
    <url-pattern>/SvlGetFriendList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvlLogout</display-name>
    <servlet-name>SvlLogout</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlLogout</servlet-name>
    <url-pattern>/SvlLogout</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SvlEditProfile</display-name>
    <servlet-name>SvlEditProfile</servlet-name>
    <servlet-class>org.coderdojo.servlets.SvlEditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SvlEditProfile</servlet-name>
    <url-pattern>/SvlEditProfile</url-pattern>
  </servlet-mapping>
</web-app>