<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Betagaming_Server2</display-name>
  <welcome-file-list>
    <welcome-file>EntradaPrincipalSvl</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CrearUsuarioSvl</display-name>
    <servlet-name>CrearUsuarioSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.CrearUsuarioSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuarioSvl</servlet-name>
    <url-pattern>/CrearUsuarioSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Reset Password Code</description>
    <display-name>ResetContraseñaSvl</display-name>
    <servlet-name>ResetContraseñaSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.ResetContraseñaSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetContraseñaSvl</servlet-name>
    <url-pattern>/ResetContraseñaSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarContraseñaSvl</display-name>
    <servlet-name>CambiarContraseñaSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.CambiarContraseñaSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarContraseñaSvl</servlet-name>
    <url-pattern>/CambiarContraseñaSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Este servlet analiza la sesión del usuario y le redirecciona a la pagina correspondiente.</description>
    <display-name>EntradaPrincipalSvl</display-name>
    <servlet-name>EntradaPrincipalSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.EntradaPrincipalSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntradaPrincipalSvl</servlet-name>
    <url-pattern>/EntradaPrincipalSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Este servlet comprueba el login.</description>
    <display-name>LoginSvl</display-name>
    <servlet-name>LoginSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.LoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSvl</servlet-name>
    <url-pattern>/LoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearPartidaSvl</display-name>
    <servlet-name>CrearPartidaSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.CrearPartidaSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearPartidaSvl</servlet-name>
    <url-pattern>/CrearPartidaSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscadorSvl</display-name>
    <servlet-name>BuscadorSvl</servlet-name>
    <servlet-class>org.coderdojo.servlets.BuscadorSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscadorSvl</servlet-name>
    <url-pattern>/BuscadorSvl</url-pattern>
  </servlet-mapping>
</web-app>